:root {
    font-size:16px;
    font-family: 'Open Sans';
    --background-color: #E3B23C;
    --dark-color: #423E37;
    --light-color: #EDEBD7;
    --accent-color: #ffffff;
    --backup-color: #dfd8cf;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
}
main {
    margin-left: 10rem;
    padding: 1rem;
}

.row div{
  border-radius: 10px;
}

a {
  color: black;
}

.nav-item {
  padding-left: auto;
}

.link-text.active {
  color: darkgray;
}

.nav-item:not(:last-child) {
    padding-bottom: 0.4rem;
}
.nav-item:last-child {
    margin-top: auto;
    margin-bottom: auto;
}

.sidenav {
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 10rem;
    float:left;
    background-color: peachpuff;
}

.navbar-list {
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.topbar {
    display: flex;
    padding: 0.5rem;
    flex-direction: row-reverse;
    background-color: var(--accent-color);
    align-items: center;
}

.notification {
  
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--backup-color);
    padding-right: 40px;
    color:var(--light-color);
  }
  .input-search::placeholder{
    color:var(--light-color);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:var(--light-color) ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(67, 104, 184, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

.barangay-table {
  font-size: 0.7rem;
}

.district-name {
  color:gray;
}